@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    background: rgb(72, 1, 100);
}

.main {
    text-align: center;
    color: rgb(185, 182, 182);
}

.profileIMG img {
    width: 100px;
    border-radius: 99px;
border: solid 2px white;
}

.name {
    font-family: 'Comfortaa', sans-serif;
    padding-top: 20px;

}

.about {
    
    font-size: 20px;
}

.idade {
    font-family: 'Comfortaa', sans-serif;   
}
ul{
    font-family: 'Comfortaa', sans-serif;
    
    list-style: none;
    padding:0px ;
}li{
    padding-top:10px;
}
a:hover{
    color: rgb(255, 255, 255);

}
a{
   text-decoration: none;
    text-decoration: none;
    color: rgb(100, 175, 241);
}
